<!DOCTYPE html>
<html>
<head>
  {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  
    <!--Navigation bar-->
    <ul class="navBar">
        <li class="navBar"><a class="navBar" href="{% url 'games:gameHome' 1 %}">PrisonersDilemma</a></li>
        <li class="navBar"><a class="navBar" href="{% url 'games:gameHome' 2 %}">Chicken</a></li>
        <li class="navBar"><a class="navBar" href="{% url 'logout' %}">Log out</a></li>
    </ul>
  <main style="margin: 8px;">
      {% block baseContent %}
      {% endblock %}
  </main>
</body>
</html>