body {
    margin: 0;
    background-color: #f6fbfb;
}

a {
    text-decoration: none;
    color: black;
}

input {
    margin: 5px;
}

a:hover {
    background-color:gray
}

ul.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

a.navBar {
    display: block;
    background-color: lightgray;
    text-align: center;
    padding: 20px 40px;
}

a.navBar:hover {
    background-color: darkgray;
}

li.navBar {
    display: inline;
    float: left;
}

.codeBox {
    width: 50vw;
    height: 50vh;
    margin: 5px;
}

.grid-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    background-color: gray;
    padding: 5px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }