{% extends 'registration/base.html' %}

{% block title %}createPlayer{% endblock %}

{% block content %}
<p>
    Create a new player, do not change the function name, and use 4 space indents
</p>
<form action = "{% url 'games:addPlayerUpdater' game_id %}" method="post">
    {% csrf_token %}
    <label for="playerName" style="margin: 10px;">Name: </label>
    <input type="text" name="playerName">
    <p></p>
      <textarea name="code" class="codeBox">
def nextMove(theirMoves, myMoves):
    </textarea>
      <p></p>
      <input type="submit" value="save">
</form>

<script>
    window.onload = function() {
        document.querySelector('textarea').addEventListener('keydown', textAreaHandler);
    }

    textAreaHandler = function(e) {
        //autoindenting to the same indentation as previous line
        if (e.key === 'Enter') {
            e.preventDefault()
            let start = this.selectionStart;
            let end = this.selectionEnd;
            let lines = this.value.split('\n');
            let currentLine = 0;
            let currentCharCount = 0;
            for (let i = 0; i < lines.length; i++) {
                currentCharCount += lines[i].length + 1;
                if (currentCharCount > start) {
                    currentLine = i;
                    break;
                }
            }
            let indent = lines[currentLine].match(/^\s*/)[0];
            this.value = this.value.slice(0, start) + '\n' + indent + this.value.slice(end);
            this.selectionStart = start + indent.length + 1;
            this.selectionEnd = end + indent.length + 1;
            //Tab indenting as 4 spaces
        } else if (e.key === 'Tab') {
        e.preventDefault();
        let start = this.selectionStart;
        let end = this.selectionEnd;
        this.value = this.value.slice(0, start) + '    ' + this.value.slice(end);
        this.selectionStart = start + 4;
        this.selectionEnd = end + 4;
    }
    };
</script>

{% endblock content %}


