{% extends 'registration/loggedInBase.html' %}
{% block title %}matchDetail{% endblock %}
{% block content %}
{% load my_tags %}
<h1>Match between:
    {% for player in match.players.all %}
        {% if forloop.counter == 1 %}
            {{player.name}}
        {% else %} 
            , {{player.name}}
        {% endif %}
    {% endfor %}
</h1>

    <div class="one-row-grid-container">
        {% for player in match.players.all %}
            <div class="grid-item">{{player.name}}</div>
        {% endfor %}
    </div>
    
    {% for round in match.rounds.all %}
        <div class="one-row-grid-container-third-width">
            {% for pair in round.playerPointPairs.all %}
            <div class="grid-item">{{pair.player.name}}</div>
            <div class="grid-item">{{pair.move}}</div>
            <div class="grid-item">{{pair.points}}</div>
            {% endfor %}
        </div>
    {% endfor %}


{% endblock %}