{% extends 'registration/loggedInBase.html' %}
{% block title %}playerDetail{% endblock %}
{% block content %}
{% load my_tags %}
<h2>Player details: {{player.name}}</h2>
<ul>
    <li>points: {{player.points}}</li>
    <li>rounds played: {{player.rounds_played}}</li>
    <li>points per round: {{player.points_per_round}}</li>
    <li>times cooperated: {{player.timesC}}</li>
    <li>times defected: {{player.timesD}}</li>
</ul>
<a href= {% url "games:playRounds" player.id%}>Play rounds</a>
<p></p>

    {% for match in player.matches.all %}
    <a href={% url "games:matchDetail" player.pk %}>
        <div class="grid-container">
            {% for player in match.players.all %}
                <div class="grid-item">{{player.name}}</div>
                <div class="grid-item">{{match|getTotalPoints:player}}</div>
            {% endfor %}
        </div>
    </a>
    {% endfor %}




{% endblock %}