{% extends 'registration/loggedInBase.html' %}
{% block content %}

<h2>Player details: {{player.name}}</h2>
<ul>
    <li>points: {{player.points}}</li>
    <li>rounds played: {{player.rounds_played}}</li>
    <li>points per round: {{player.points_per_round}}</li>
    <li>times cooperated: {{player.timesC}}</li>
    <li>times defected: {{player.timesD}}</li>
</ul>
<a href= {% url "games:playRounds" player.id%}>Play rounds</a>
<p></p>

<div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>  
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>  
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
  </div>
<ul>
    {% for match in player.matches.all %}
    <li>
    </li>
    {% endfor %}
</ul>


{% endblock %}